* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.todo-item:last-child {
    border: none !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        translate: -20px;
    }
    to {
        opacity: 1;
        translate: 0px;
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    transform-origin: left;
    animation-timing-function: ease-out;
}

@keyframes spin {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

.spin {
    animation-name: spin;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    transform-origin: center;
    animation-timing-function: linear;
}
